$primaryColor: #eeffcc;

$firstValue: 62.5%;
$firstValue: 24px !default;

$container-width-orig: 100%;
$column-count: 4;
$margin: 1%;

$buttonColor: #2ecc71;
$buttonDark: darken($buttonColor, 10%);
$buttonDarker: darken($buttonDark, 10%);

@function getColumnWidth($width, $columns, $margin) {
  @return ($width / $columns) - ($margin * 2);
}

// @function returns a value via @return, @mixin returns markup via @content

@import 'reset';

@mixin media($queryString) {
  @media #{$queryString} {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box {
  @include border-radius(10px);
  border: 5px solid black;
}

%input-style {
  border-radius: 3px;
  color: #555;
  font-size: 17px;
  padding: 10px 20px;
  display: inline-block;
  outline: 0;
}

.input {
  @extend %input-style;
  border: 4px solid #ddd;
}

.input-error {
  @extend %input-style;
  border: 4px solid #e74c3c;
}

button {
  background: $buttonColor;
  border-radius: 3px;
  box-shadow: 0px 5px 0px $buttonDark;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  display: inline-block;
  outline: 0;
  &:hover {
    background: $buttonDark;
    box-shadow: 0px 5px 0px $buttonDarker;
  }
  &:active {
    box-shadow: none;
    margin-top: 5px;
  }
}

.container {
  width: 900px;
  @include media("(max-width: 767px)") {
    width: 100%;
  }
}

.col-4 {

  width: getColumnWidth($container-width-orig, $column-count, $margin);
  background: #1abc9c;
  height: 200px;
  display: block;
  float: left;
  margin: 0 $margin;
}

body {
  text-align: center;
  padding-top: 100px;
  $primaryColor: #ccc;
  background-color: $primaryColor;
  font-size: $firstValue;
  font: 100% Helvetica, sans-serif;
}

p {
  color: $primaryColor;
}

.first-component {
  .text {
    color: red;
  }
  .button {
    color: orange;
  }
  @at-root .second-component {
    .text {
      color: blue;
    }
    .button {
      color: purple;
    }
  }
}