$primaryColor: #eeffcc;

$firstValue: 62.5%;
$firstValue: 24px !default;

$container-width: 100%;
$column-count: 4;
$margin: 1%;

$buttonColor: #2ecc71;
$buttonDark: darken($buttonColor, 10%);
$buttonDarker: darken($buttonDark, 10%);

@import 'reset';

button {
  background: $buttonColor;
  border-radius: 3px;
  box-shadow: 0px 5px 0px $buttonDark;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  display: inline-block;
  outline: 0;
  &:hover {
    background: $buttonDark;
    box-shadow: 0px 5px 0px $buttonDarker;
  }
  &:active {
    box-shadow: none;
    margin-top: 5px;
  }
}

.container {
  width: $container-width;
}

.col-4 {

  width: ($container-width / $column-count) - ($margin * 2);
  background: #1abc9c;
  height: 200px;
  display: block;
  float: left;
  margin: 0 $margin;
}

body {
  text-align: center;
  padding-top: 100px;
  $primaryColor: #ccc;
  background-color: $primaryColor;
  font-size: $firstValue;
  font: 100% Helvetica, sans-serif;
}

p {
  color: $primaryColor;
}

.first-component {
  .text {
    color: red;
  }
  .button {
    color: orange;
  }
  @at-root .second-component {
    .text {
      color: blue;
    }
    .button {
      color: purple;
    }
  }
}